/* * {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.first_image {
  border: 2px solid black;
}
.second_image {
  border: 2px solid green;
}
.sidenavHeading {
  font-size: 48px;
  font-weight: 500;
  line-height: 58px;
  margin-bottom: 30px;
}

.sidenavPara {
  font-size: 25px;
}

.sidenavGrid {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.heading {
  font-size: 37px;
  font-weight: 700;
  letter-spacing: 0;
  margin-bottom: 50px;
}

/* .formData>div {
    margin-bottom: 15px;
    margin: 0px 0px 7px;
} */

/* .formData > input {
  text-align: left;
  border: none;
  margin: 0px 0px 7px;
  border-bottom: 1px solid lightgray;
  width: 100%;
  height: 30px;
  font-size: 18px;
  color: gray;
  margin-bottom: 13px;
  padding-bottom: 8px;
}
.formData > input:hover {
  border-bottom: 2px solid #5846f6;
}
.name {
  margin: 0px 0px 7px;
  text-align: left;
  font-weight: 500;
}
.three {
  /* margin-left: 20px; */
  /* text-align: left;
} */

/* .formData > input:focus {
  outline: none;
  border-bottom: 2px solid #5846f6;
  height: 29px;
  margin: 0px 0px 7px;
}

.passwordDivision {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}

.passwordEye {
  cursor: pointer;
  color: lightgray;
  display: flex;
  gap: 10px;
}

.passwordEye:hover {
  color: gray;
}

.afterPassword {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 26px;
}

.afterPassword span {
  color: #5846f6;
}
.handleSignUp {
  cursor: pointer;
  height: 49px;
  border-radius: 50px;
  font-size: 15px;
  color: white;
  background-color: #5846f6;
  border: none;
  width: 100%;
  text-align: center;
}
.handleSignUp:hover {
  background-color: #3722f3;
}

.hrDivision {
  display: flex;
  align-items: center;
  margin: 25px 0px;
}

.hrDivision > hr {
  width: 100%;
  border: none;
  border-bottom: 1px solid gray;
}

.hrDivision > div {
  margin: 0px 15px;
  color: grey;
}

.button2 {
  cursor: pointer;
  height: 50px;
  border-radius: 50px;
  font-size: 15px;
  width: 100%;
  border-color: #4a68ad;
  background: white;
  border: 2px solid;
  text-align: center !important;
  color: #4a68ad;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
} */
/* .button2 > div > img {
  width: 20px;
}
.button2:hover {
  color: #3722f3;
}
.button3 {
  cursor: pointer;
  height: 50px;
  border-radius: 50px;
  font-size: 15px;
  /* font-family: "Poppins", sans-serif; */
  /* width: 100%;
  border: 2px solid #5846f6;
  background: white;
  color: #5846f6;
} */ 
/* .bottomLines {
  margin-top: 25px;
  font-size: 16px;
  margin-bottom: 20px;
  /* font-family: Poppins sans-serif;
}

/* .bottomLines > a {
  text-decoration: none;
  color: #5846f6 !important;
  text-decoration: underline;
} */
/*  */
/* .conclusionLine {
  text-align: center;
  margin-top: 25px;
  font-size: 12px;
  color: grey;
}
.conclusionLine > a {
  text-decoration: none;
  color: gray;
  text-decoration: underline;
}    */