.dropdown {
    position: relative;
    display: inline-block;
    padding-left:27px;
  }
  
  .dropdownC {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    color: black;
    text-align: left;
    font-family: sans-serif;
    color: rgb(51,51,51);
    line-height:"20px";
    margin-bottom: 50px;
    margin-top: 20px;
  }
  .dropList{
    line-height: 30px;
    font-weight:bold;
    font-size: 14 px;

  }
  .dropdown:hover .dropdownC {
    display: block;
  }
  input:last-child::placeholder {
    color: rgb(51,51,51);
 }
 .FooterMainBox{
    direction:row ;
    padding:20px;
    font-size:14px;
    color: rgb(51,51,51);
  

 }
 .heading{
    font-size: 20px;
 } 
 .hrtag{
    height:0.5px;border-width:0;color:gray;background-color:gray
 }
 .userDetails{
  /* border: 1px solid red; */
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: pink;
  color: white;
  margin: auto;
  font-size: 30px;
 }
 .dropdownuser{
  position: relative;
  display: inline-block;
  /* padding-left:27px; */
 
}
.dropdownuseropt{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  right: 0px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  /* padding: 12px 16px; */
  z-index: 1;
  color: black;
  text-align: left;
  font-family: sans-serif;
  color: rgb(51,51,51);
  line-height:"20px";
  /* margin-bottom: 50px; */
  margin-top: 30px;
  font-size: 20px;
  border: 0.5px solid grey;
  padding: 10px;
}
.dropdownuser:hover .dropdownuseropt {
  display:block;
}
