*{
    margin: 0px;
    padding: 0px;
    text-align: center;

}
.inputMain{
    margin: 0px;
    padding: 0px;
    border: 2px solid black;
    width: 100%;
    height: 350px;
    background-image: url(https://wallpaperaccess.com/full/3239746.jpg);
    background-size: cover;
    opacity: 0.9;
    background-repeat: no-repeat;
}
.inputTop{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-top: 25px;
    color: #ffffff;
}
.inputDiv{
    width: 80%;
    text-align: center;

    /* border: 2px solid black; */
    margin: 30px auto;
}
.inputBox{
    text-align: left;
    width: 60%;
    height: 45px;
    padding-left: 10px;
    /* border: 2px ; */
    font-size: 19px;
    border-radius: 10px;
    background-color: #ffffff;
}
.inputBelow{
    width: 50%;

    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
    color: #2f9bdb;
    text-align: center;
    margin: auto;
}
.inputBelow > div{
border: 2px solid #6b9bdb;
border-radius: 20px;
background-color: #ffffff;
font-size: 17px;
font-weight: bold;
text-align: center;
height: 35px;
padding-top: 4px;
width: auto;
/* margin: auto; */
}